header {
  background-color: aquamarine;
  font: 400 70px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0 #ededed, 4px 4px 0 rgba(0,0,0,0.15);
}
thead td a{
  font-size: 24px;
  color: green;
}
.page{
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
footer{
  background-color: aquamarine;
  margin-top: auto;
  padding: 20px;
}
.activeRef{
  color: peru;
}
header a:link {
  text-decoration: none;
}
header img {
  max-width: 64px;
}
table {
  border-collapse: collapse;
  border : 1px solid gray;
}
td {
  padding: 10px;
  border : 1px solid gray;
  vertical-align: top;
}
img.product-tile {
  max-width: 64px;
}